<h1><%= @task.title %></h1>

<h3><%= @task.details %></h3>

<p> 
  <% if @task.completed %>
    <i class="far fa-check-square"> - This task is completed</i> 
  <% else %>
    <i class="far fa-square"> - This task is not yet completed</i>
  <% end %>
</p>

<%= link_to "Update this task", tasks_edit_path %>

<%= link_to "Back to list", tasks_path %>